.profileContainer {
  width: 80%;
  background-color: rgba(245, 245, 220, 0.473);
  .imageContainer {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .detailsContainer {
    margin: auto;
    color: black;
    div {
      button {
        width: 100%;
        color: rgb(199, 196, 173);
        background-color: rgb(26, 44, 40);
        border: 3px outset rgb(26, 44, 40);

        &:hover {
          background-color: rgb(13, 75, 62);
        }
      }
    }
  }
}
