@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.navSection {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  @include md {
    width: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    @include sm {
      text-align: end;
    }

    .user {
      display: flex;
      align-items: center;
      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5px;
      }
      button {
        padding: 3px;
        background-color: transparent;
        border: 2px outset $dark-bg;
        &:hover {
          background-color: $dark-bg;
          color: white;
        }
      }
    }
    .logOutLink {
      .logOut {
        background-color: transparent;
        padding: 3px;
        border: none;
        font-family: 'Rowdies', cursive;
        color: $soft-color;
        &:hover {
          background-color: rgb(26, 44, 40);
        }
      }
    }
  }
}
