//  border: 1px solid $main-color;
//  $main-bg: rgb(26, 115, 96);
// $soft-bg: rgb(47, 137, 118);
// $dark-bg: rgb(26, 44, 40);
// $main-color: rgb(231, 226, 212);
// $soft-color: rgb(200, 212, 209);
// $dark-color: rgb(84, 87, 86);
// $soft-accent: rgb(203, 193, 110);
// $dark-accent: rgb(183, 167, 19);

@import '../../styles/variables.scss';
.reminderSection {
  justify-content: center;

  .to-do-app {
    width: 100%;
    height: 581.6px;
    height: 581.6p;
    background-color: rgb(17, 65, 55);
    border: 2px solid rgb(8, 49, 41);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: auto;
    padding: 5px;
  }
  .toTitle {
    text-align: center;
    margin-bottom: 2px;
  }
  .to-do-input {
    width: 80%;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
    background: transparent;
    border: 2px solid $main-bg;
    color: #fff;
    padding-left: 5px;
  }

  .to-do-button {
    height: 40px;
    // width: 70px;
    width: 20%;
    font-weight: 700;
    background-color: $main-bg;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid $main-bg;
    cursor: pointer;
  }
  .todo-row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(15, 96, 79);
  }
  .todo-row:nth-child(4n + 1) {
    background-color: rgb(98, 205, 181);
  }
  .todo-row:nth-child(4n + 2) {
    background-color: rgb(26, 158, 129);
  }
  .todo-row:nth-child(4n + 3) {
    background-color: rgb(49, 116, 101);
  }
  .complete {
    opacity: 0.3;
  }
  span {
    margin: 5px;
    cursor: pointer;
  }
  .checkparent {
    position: relative;
    border: 2px solid #fff;
  }
  .check {
    visibility: hidden;
  }
  .checkComplete {
    visibility: visible;
  }
  .todoContainer {
    max-height: 490px;
    overflow-block: 490px;
    overflow: scroll;
  }
  .editIcon,
  .deleteIcon {
    color: $main-color;
  }
}
